<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.database"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/budget" android:label="@string/app_name">
        <activity android:name=".LogindatabaseActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".newuser"></activity>
<activity android:name=".mainpage"></activity>
<activity android:name=".what"></activity>
 <activity android:name=".Addbudget"></activity>
 <activity android:name=".Addexpense"></activity>
 <activity android:name=".Viewbonuspoints"></activity>
 <activity android:name=".emailexpenses"></activity>

 <activity android:name=".Viewexpense"></activity>
 <activity android:name=".Viewmoneyleft"></activity>
 <activity android:name=".Logout"></activity>
 
 
 
 
 
 
    </application>
</manifest>